<h1>Edit task</h1>
<%= form_for :task do |t| %>
Title <%= t.text_field :title %>
Details <%= t.text_field :details %>
Completed? <%= t.check_box :completed %>
<%= t.submit %>
<% end %>
 <%= link_to tasks_path do %> Back to list <% end %>
